@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&family=Roboto&display=swap");
/* FONTS*/
/* BACKGROUND COLORS*/
/* COLORS*/
/*MIXXINS*/
/* HEADER-TOPBAR STYLING*/
.header-topbar {
  background-color: #fef7f6;
  font-family: "Poppins", sans-serif;
}
.header-topbar a {
  text-decoration: none;
  color: black;
}
.header-topbar p {
  margin-bottom: 0px;
}

/*HEADER-NAVBAR STYLING*/
.header-navbar {
  font-family: "Poppins", sans-serif;
  /*NAVBAR HOVER STYLE*/
  /*NAVBAR ICON STYLING*/
}
.header-navbar a {
  text-decoration: none;
  color: black;
}
.header-navbar a:hover {
  color: #ff5353;
}
.header-navbar i:hover {
  color: #ff5353;
}
.header-navbar .dropdown:hover > .dropdown-menu {
  display: block;
  border-radius: 0px;
}
.header-navbar .notification {
  position: relative;
}
.header-navbar .badge {
  position: absolute;
  top: -15px;
  right: -15px;
  padding: 6px 6px;
  border-radius: 50%;
  min-width: 25px;
  background: #ff5353;
  color: white;
}

/* MAIN BANNER STYLING*/
.main-banner {
  background-image: url(../Images/banner-bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-banner .main-banner-secondary {
  color: #565656 !important;
  font-family: "Poppins", sans-serif;
}
.main-banner .main-banner-btn {
  color: white;
  background-color: #ff5353;
  border-radius: 0 !important;
  width: 180px;
  height: 40px;
}
.main-banner .main-banner-btn:hover {
  background-color: white;
  color: blue;
}

/* PRODUCT STYLING GENERAL */
.product {
  position: relative;
}

.product-hover-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 130px;
  left: 0;
  right: 0;
}
.product-hover-icons .hover-icon {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.product-hover-icons .hover-icon:hover {
  background-color: #ff5353;
  color: white;
  transition: 0s;
}
.product-hover-icons .hover-icon-1 {
  transition: 0.5s;
}
.product-hover-icons .hover-icon-2 {
  transition: 0.75s;
}
.product-hover-icons .hover-icon-3 {
  transition: 1s;
}

.product-image:hover > .product-hover-icons > .hover-icon {
  transform: translateY(-40px);
  opacity: 1;
}

.product-info .product-title {
  color: #8d8d8d;
}
.product-info .product-rating {
  color: #ff5353;
}

/* SALE BANNER*/
.sale-banner {
  background-color: #eae2d8;
}
.sale-banner .sale-banner-price {
  font-weight: 700;
  font-family: "Dancing Script", cursive;
}
.sale-banner .sale-banner-btn {
  color: white;
  background-color: #ff5353;
  border-radius: 0 !important;
  width: 180px;
  height: 40px;
}
.sale-banner .sale-banner-btn:hover {
  background-color: white;
  color: blue;
}

.icon {
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ARTICLE STYLING */
.article .article-dot {
  width: 15px;
  align-self: center !important;
  margin: 0px !important;
  color: #ff5353;
  border: 4px solid #ff5353;
  border-radius: 5px;
  opacity: 1;
}
.article .article-date {
  color: #8d8d8d;
  font-size: 15px;
  margin-bottom: 0px;
  max-width: 90%;
}
.article .article-title {
  font-weight: bold;
  margin-bottom: 30px;
  max-width: 90%;
}
.article .article-info {
  color: #8d8d8d;
  display: flex;
  font-size: 15px;
  justify-content: space-between;
}
.article .article-info p {
  margin-bottom: 0px;
}
.article .article-info .article-info-section, .article .article-info .article-info-comment {
  display: flex;
  align-items: center;
  gap: 10px;
}
.article .article-info .article-info-section:hover, .article .article-info .article-info-comment:hover {
  color: #ff5353;
}

/*FOOTER STYLING*/
.footer {
  font-family: "Poppins", sans-serif;
  background-color: #e9e2d8;
}
.footer p {
  margin-bottom: 0px;
}
.footer a {
  text-decoration: none;
  color: #8d8d8d;
}
.footer a:hover {
  color: #ff5353;
}
.footer .mobile-app-btn .google-play {
  background-color: white;
  color: black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  width: 150px;
  gap: 15px;
  padding: 5px;
  /*HOVER EFFECT FOR GOGGLE PLAY*/
  /*STYLE ICON*/
  /*STLYE FIRST P ELEMENT*/
}
.footer .mobile-app-btn .google-play:hover {
  background-color: #ff5353;
  color: white;
  transition: 1s;
}
.footer .mobile-app-btn .google-play:hover .ti-android {
  color: white;
  transition: 1s;
}
.footer .mobile-app-btn .google-play .ti-android {
  align-self: center;
  font-size: 25px;
  color: #ff5353;
}
.footer .mobile-app-btn .google-play .google-play-text > p:first-child {
  font-size: 10px;
  margin-bottom: -5px;
}
.footer .mobile-app-btn .apple-store {
  background-color: #ff5353;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  width: 150px;
  gap: 15px;
  padding: 5px;
  /*STYLE ICON*/
  /*STLYE FIRST P ELEMENT*/
}
.footer .mobile-app-btn .apple-store .ti-apple {
  align-self: center;
  font-size: 25px;
}
.footer .mobile-app-btn .apple-store .apple-store-text > p:first-child {
  font-size: 10px;
  margin-bottom: -5px;
}
.footer .social-icons-navbar .social-icon {
  padding: 5px 8px 3px 8px;
  background-color: white;
  /*HOVER EFFECT FOR SOCIALS*/
}
.footer .social-icons-navbar .social-icon:hover {
  background-color: #ff5353;
  transition: 0.5s;
}
.footer .social-icons-navbar .social-icon:hover .ti-icon {
  color: white;
  transition: 0.5s;
}

/*MEDIA QUERYS*/
/* HEADER MEDIA QUERYS*/
@media only screen and (max-width: 438px) {
  .header-topbar p {
    font-size: 14px;
  }
  .header-navbar-main {
    font-size: 12px;
  }
}
/* MAIN BANNER MEDIA QUERY*/
@media only screen and (max-width: 583px) {
  .main-banner-img {
    order: -1 !important;
  }
}
/* MOBILE APP BUTTONS MEDIA QUERYS*/
@media only screen and (max-width: 992px) {
  .mobile-app-btn {
    flex-direction: row !important;
  }
}
@media only screen and (max-width: 771px) {
  .mobile-app-btn {
    flex-direction: column !important;
  }
}
/*PRODUCT HOVER SIZE*/
@media only screen and (max-width: 771px) {
  .hover-icon {
    scale: 0.9;
  }
}/*# sourceMappingURL=style.css.map */